body {
  padding-top: 70px;
  background: url('../img/groovepaper.png');
  /*font-family: monospace;*/
}

.jumbotron {
  margin-top: -20px;
  background: url('../img/rpgmaker.png');
  background-size: cover;
  position: relative;
  z-index: 2;
  box-shadow: 0 8px 16px -8px #000;
}

.jumbotron > .container > h1 {
  font-family: 'Lusitana', serif;
  font-size: 100px;
  text-shadow: 0 0 2px rgb(255, 217, 12);
  color: #fff;
}

.jumbotron > .container > h2 {
  font-family: 'Schoolbell', cursive;
  color: #fff;
  background: rgba(0, 0, 0, .5);
  font-size: 24px;
  padding: 24px;
}

.navbar-fixed-top {
  border: 0;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: rgba(0, 0, 0, 0.8);
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #fff;
}

.nav-sidebar > li > a:hover,
.nav-sidebar > li > a:focus,
.nav-sidebar > li > a:active,
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: rgb(12, 10, 0);
  background-color: rgb(255, 217, 12);
}

.dashboard-content {
  position: relative;
}

a {
  cursor: pointer;
}

.navbar-header {
  background: url('../img/knight.png') no-repeat 0 50%;
}

a.navbar-brand {
  margin-left: 25px !important;
  font-family: 'Lusitana', serif;
  font-size: 24px
}

a.navbar-brand:hover {
  text-shadow: 0 0 0.5em rgb(255, 217, 12);
}

.avatar {
  border-radius: 5%;
}

.child-card {
  background: url('../img/scroll-texture.jpg');
  background-size: cover;
}

.child-card, .quest-card, .panel, .btn, .label,.avatar {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

.borderless>tbody>tr>td,
.borderless>tbody>tr>th,
.borderless>tfoot>tr>td,
.borderless>tfoot>tr>th,
.borderless>thead>tr>td,
.borderless>thead>tr>th {
  border: 0;
  line-height: 1em;
  padding: 2px;
  font-size: .9em;
}


.table td:first-child {
  font-weight: bold;
  text-align: right;
}

/*.child-card:hover, .quest-card:hover {
  margin-top: -1px;
  margin-bottom: 21px;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.25);
}*/

.panel-warning,
.panel-warning input,
.panel-warning textarea,
.panel-warning select {
  border: 1px solid rgba(0, 0, 0, 0.8);
  /*border: 1px solid rgba(255, 217, 12, 0.8);*/
}
.panel-warning > .panel-heading {
  /*background-color: rgba(255, 217, 12, 0.8);*/
  border-bottom: 0;
  color: rgb(200, 200, 200);
  background-color: rgba(0, 0, 0, 0.8);;
}

.child-card > .panel-heading {
  background-color: rgba(127, 76, 34, 0.8);
  font-weight: bolder;
}

.level-badge {
  color: rgb(255, 217, 12);
}

.child-card h3.panel-title {
  background: rgb(20, 20, 20);
  font-size: 16px;
  font-weight: bolder;
  color: transparent;
  text-shadow: 0px 1px 3px rgba(255,255,255,0.25);
  -webkit-background-clip: text;
  background-clip: text;
}

.reward-label {
  margin: 2px;
  display: inline-block;
}

.btn-primary {
  background-color: rgb(255, 217, 12);
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
}

.btn-primary:hover {
  background-color: rgba(255, 217, 12, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.9);
}

.btn-primary:active, .btn-primary:focus {
  background-color: rgba(255, 217, 12, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.9);
}