<div class="col-md-4" *ngFor="let child of this.children">
    <div class="panel panel-warning child-card">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-6">
                    <h3 class="panel-title">{{ child.name.first }}  {{ child.name.last }}</h3>
                </div>
                <div class="col-xs-6 text-right">
                    <span class="level-badge text-right">Level: {{ child.hero.level }}</span>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 col-md-6 text-center">
                    <img src="http://placehold.it/150x150" class="avatar">
                </div>
                <div class="col-sm-12 col-md-6">
                    <p>
                        <strong>Hero:</strong> {{ child.hero.name }}<br />
                        <strong>XP:</strong> {{ child.hero.xp }}<br />
                        <strong>Credits:</strong> {{ child.hero.credits }}<br />
                        <strong>Strength:</strong> {{ child.hero.strength }}<br />
                        <strong>Wisdom:</strong> {{ child.hero.wisdom }}<br />
                        <strong>Kindness:</strong> {{ child.hero.kindness }}<br />
                        <strong>Courage:</strong> {{ child.hero.courage }}<br />
                        <strong>Responsibility:</strong> {{ child.hero.responsibility }}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="panel-title">Progress to next level</h3>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 10%"></div>
                    </div>
                    <h3 class="panel-title">Active Quests</h3>
                    <p *ngIf="!child.activeQuests.length">none</p>
                    <div *ngIf="child.activeQuests.length">
                        <p *ngFor="let quest of child.activeQuests">{{ quest }}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-right">
                    <button class="btn btn-warning">edit</button>
                </div>
            </div>
        </div>
    </div>
</div>